@use '../components/utils/variables' as v;

#dashboard {
	.wrapper_line {
		display: flex;
		gap: 2rem;
		height: 100%;

		@media (max-width: v.$md_breakpoint) {
			flex-direction: column;
		}
	}

	.container {
		display: flex;
		gap: 2rem;

		@media (max-width: v.$xl_breakpoint) {
			flex-direction: column;
		}
	}


	.container_right,
	.container_left {
		display: flex;
		flex-direction: column;
		gap: 2rem;
				@media (min-width: v.$xl_breakpoint) {
					flex-basis:50%;

		}

	}

	.container_right {
		.container_side,
		.wrapper_line,
		.element {
			height: 100%;
		}
	}

	.container_side {
		display: flex;
		flex-direction: column;
	}

	.box_element {
		width: 100%;

	}
}