@use "../components/utils/variables" as v;
.mail_page{
	height: 100%;
	.container,.sidebar 
	{
		height: 100%;
	}
	.container{
		display: flex;
	}
	.menu_item{
		display: flex;
		gap: 1rem;
		align-items: center;
		padding: 0.65rem 0.5rem;
		border-radius: 1rem;
		.element{
			display: flex;
			align-items: center;
		}
	}
	.selected{
		background-color: var(--bg_color02);
		color: white;
	}
	.sidebar{
		height: 100%;
		border-bottom: none;
		border-right: var(--border_color01);
		flex-basis: 20%;
		@media (max-width: v.$lg_breakpoint){
			border-bottom: var(--border_color01);
			
		}
		.wrapper_sidebar{
			border-bottom: var(--border_color01);
		}
		ul{
			padding: 2rem;
		}
	}
	.content{
		flex-basis: 80%;
	}
	
}